{% extends "admin/base.html" %}
{% load static %}

{% block title %}BOSHQARUV MARKAZI | Bilim Nazoratchi{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" class="bn-admin-brand">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="bn-admin-logo">
        <span class="bn-admin-title">Bilim Nazoratchi Admin</span>
    </a>
</h1>

<div class="bn-admin-toplinks">
    <a href="{% url 'talim:haftalik_dars_jadvali' %}" class="bn-admin-toplink">
        Dars jadvali
    </a>
</div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}?v=20260325_4">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/admin_custom.js' %}?v=20260325_10" defer></script>
{% endblock %}

{% block footer %}
    <div class="bn-admin-footer">
        <strong>BilimNazoratchi</strong> &copy; 2026. Admin bilan bog'lanish:
        <a href="https://t.me/Sardor_Tolliboyev" target="_blank" rel="noopener" class="bn-admin-footer-link">TELEGRAM</a>
    </div>
{% endblock %}
