{% extends "admin/base.html" %}
{% load static %}

{% block title %}Boshqaruv markazi | Bilim Nazoratchi{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" style="display: flex; align-items: center; text-decoration: none;">
        <!-- LOGO O'LCHAMI QAT'IY BELGILANDI -->
        <img src="{% static 'img/logo.png' %}" alt="Logo" 
             style="height: 35px; width: 35px; background: rgb(255, 255, 255); border-radius: 50%; padding: 2px; margin-right: 10px;">
        <span style="color: hwb(247 0% 60%); font-weight: 800; font-size: 20px; text-transform: uppercase;">Bilim Nazoratchi</span>
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}